# PythonAnywhere
.bashrc
.gitconfig
.profile
.pythonstartup.py
.vimrc
.cache/
.local/
.ipython/

# Python
__pycache__/
*.pyc
*.pyo
*.db
*.zip

# Virtual Environments
.virtualenvs/
venv/
.venv/

# OS
.DS_Store
Thumbs.db
